<%- model_class = Diagnostic -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:d_name) %>:</strong></dt>
  <dd><%= @diagnostic.d_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:d_price) %>:</strong></dt>
  <dd><%= @diagnostic.d_price %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              diagnostics_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_diagnostic_path(@diagnostic), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              diagnostic_path(@diagnostic),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
