<%= form_for @slot, :html => { :class => "form-horizontal slot" } do |f| %>

    <% if @slot.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@slot.errors.count, "error") %> prohibited this slot from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @slot.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :s_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :s_name, :class => 'form-control' %>
    </div>
    <%= error_span(@slot[:s_name]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            slots_path, :class => 'btn btn-default' %>

<% end %>
