<%= form_for @employment, :html => { :class => "form-horizontal employment" } do |f| %>

    <% if @employment.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@employment.errors.count, "error") %> prohibited this employment from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @employment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :e_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :e_name, :class => 'form-control' %>
    </div>
    <%= error_span(@employment[:e_name]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            employments_path, :class => 'btn btn-default' %>

<% end %>
