<%= form_for @status, :html => { :class => "form-horizontal status" } do |f| %>

    <% if @status.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@status.errors.count, "error") %> prohibited this status from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @status.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :stat_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :stat_name, :class => 'form-control' %>
    </div>
    <%= error_span(@status[:stat_name]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            statuses_path, :class => 'btn btn-default' %>

<% end %>
