<%= form_for @physician, :html => { :class => "form-horizontal physician" } do |f| %>

    <% if @physician.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@physician.errors.count, "error") %> prohibited this physician from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @physician.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :Physician_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :p_name, :class => 'form-control' %>
    </div>
    <%= error_span(@physician[:p_name]) %>
  </div>
  <div class="control-group">
    <%= f.label :Phone, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :p_phone, :class => 'form-control' %>
    </div>
    <%= error_span(@physician[:p_phone]) %>
  </div>
  <div class="control-group">
    <%= f.label :Email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :p_email, :class => 'form-control' %>
    </div>
    <%= error_span(@physician[:p_email]) %>
  </div>
  <div class="control-group">
    <%= f.label :Employment_status, :class => 'control-label' %>
    <div class="controls">
    <%= f.collection_select :employment_id, Employment.all, :id, :e_name, :class => 'form-control' %>
    </div>
    <%= error_span(@physician[:employment_id]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            physicians_path, :class => 'btn btn-default' %>

<% end %>
