<%- model_class = Physician -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>

      <th><%= model_class.human_attribute_name(:Physician_name) %></th>
      <th><%= model_class.human_attribute_name(:Phone) %></th>
      <th><%= model_class.human_attribute_name(:Email) %></th>
      <th><%= model_class.human_attribute_name(:employment_status) %></th>

      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @physicians.each do |physician| %>
      <tr>

        <td><%= physician.p_name %></td>
        <td><%= number_to_phone(physician.p_phone) %></td>
        <td><%= physician.p_email %></td>
        <td><%= physician.employment.e_name %></td>

        <td>

          <%= link_to 'Show', physician, :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_physician_path(physician), :class => 'btn btn-default btn-xs' %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_physician_path,
            :class => 'btn btn-primary' %>
