<%- model_class = Physician -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:Name) %>:</strong></dt>
  <dd><%= @physician.p_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Phone) %>:</strong></dt>
  <dd><%= number_to_phone(@physician.p_phone) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Email) %>:</strong></dt>
  <dd><%= @physician.p_email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:employment_id) %>:</strong></dt>
  <dd><%= @physician.employment.e_name %></dd>
</dl>

<h3>Completed appointments</h3>

<table class="table table-striped">
  <thead>
  <tr>

    <th><%= model_class.human_attribute_name(:customer_id) %></th>

    <th><%= model_class.human_attribute_name(:Date) %></th>
    <th><%= model_class.human_attribute_name(:Time_slot) %></th>
    <th><%= model_class.human_attribute_name(:diagnostic_id) %></th>
    <th><%= model_class.human_attribute_name(:Note) %></th>
    <th><%= model_class.human_attribute_name(:physician_note) %></th>
    <th><%= model_class.human_attribute_name(:appointment_status) %></th>

    <th><%=t '.actions', :default => t("helpers.actions") %></th>
  </tr>
  </thead>
  <tbody>
  <% @ph.appointments.where("status_id = ?", "2").each do |appoint| %>
      <tr>

        <td><%= appoint.customer.c_name %></td>

        <td><%= appoint.app_date %></td>
        <td><%= appoint.slot.s_name %></td>
        <td><%= appoint.diagnostic.d_name %></td>
        <td><%= appoint.app_note %></td>
        <td><%= appoint.physician_note %></td>
        <td><%= appoint.status.stat_name %></td>

        <td>

          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_appointment_path(appoint), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      appointment_path(appoint),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to t('.back', :default => t("helpers.links.back")),
              physicians_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_physician_path(@physician), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              physician_path(@physician),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
