<%= form_for @customer, :html => { :class => "form-horizontal customer" } do |f| %>

    <% if @customer.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @customer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :Customer_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :c_name, :class => 'form-control' %>
    </div>
    <%= error_span(@customer[:c_name]) %>
  </div>
  <div class="control-group">
    <%= f.label :Address, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :c_address, :class => 'form-control' %>
    </div>
    <%= error_span(@customer[:c_address]) %>
  </div>
  <div class="control-group">
    <%= f.label :Phone, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :c_phone, :class => 'form-control' %>
    </div>
    <%= error_span(@customer[:c_phone]) %>
  </div>
  <div class="control-group">
    <%= f.label :Email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :c_email, :class => 'form-control' %>
    </div>
    <%= error_span(@customer[:c_email]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            customers_path, :class => 'btn btn-default' %>

<% end %>
