<%- model_class = Customer -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:Name) %>:</strong></dt>
  <dd><%= @customer.c_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Address) %>:</strong></dt>
  <dd><%= @customer.c_address %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Phone) %>:</strong></dt>
  <dd><%= number_to_phone(@customer.c_phone) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Email) %>:</strong></dt>
  <dd><%= @customer.c_email %></dd>
</dl>
<h3>My Appointments</h3>

<table class="table table-striped">
  <thead>
  <tr>


    <th><%= model_class.human_attribute_name(:physician_id) %></th>
    <th><%= model_class.human_attribute_name(:Date) %></th>
    <th><%= model_class.human_attribute_name(:Time_slot) %></th>
    <th><%= model_class.human_attribute_name(:diagnostic_id) %></th>
    <th><%= model_class.human_attribute_name(:Note) %></th>
    <th><%= model_class.human_attribute_name(:physician_note) %></th>
    <th><%= model_class.human_attribute_name(:appointment_status) %></th>

    <th><%=t '.actions', :default => t("helpers.actions") %></th>
  </tr>
  </thead>
  <tbody>
  <% @cust.appointments.each do |app| %>
      <tr>


        <td><%= app.physician.p_name %></td>
        <td><%= app.app_date %></td>
        <td><%= app.slot.s_name %></td>
        <td><%= app.diagnostic.d_name %></td>
        <td><%= app.app_note %></td>
        <td><%= app.physician_note %></td>
        <td><%= app.status.stat_name %></td>

        <td>
          <%= link_to 'Invoice', app, :class => 'btn btn-xs btn-warning' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_appointment_path(app), :class => 'btn btn-xs btn-info' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      appointment_path(app),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>


<%= link_to t('.back', :default => t("helpers.links.back")),
              customers_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_customer_path(@customer), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              customer_path(@customer),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
