<%= form_for @appointment, :html => { :class => "form-horizontal appointment" } do |f| %>

    <% if @appointment.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @appointment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :customer_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :customer_id, Customer.all, :id, :c_name, :prompt => "Select a Patient", :class => 'form-control' %>
    </div>
    <%= error_span(@appointment[:customer_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :physician_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :physician_id, Physician.where("employment_id = ?", "1"), :id, :p_name, :prompt => "Select a Physician", :class => 'form-control' %>
    </div>
    <%= error_span(@appointment[:physician_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :Appointment_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :app_date, :style => "width: 150px;", :class=>'datepicker form-control' %>
    </div>
    <%= error_span(@appointment[:app_date]) %>
  </div>
  <div class="control-group">
    <%= f.label :slot_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :slot_id, Slot.all, :id, :s_name, :prompt => "Select a Time", :class => 'form-control' %>
    </div>
    <%= error_span(@appointment[:slot_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :diagnostic_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :diagnostic_id, Diagnostic.all, :id, :d_name, :prompt => "Select a Diagnostic", :class => 'form-control' %>
    </div>
    <%= error_span(@appointment[:diagnostic_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :Appointment_note, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :app_note, :style => "width: 569px; height: 150px;",:class => 'form-control' %>
    </div>
    <%= error_span(@appointment[:app_note]) %>
  </div>
  <div class="control-group">
    <%= f.label :physician_note, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :physician_note, :style => "width: 569px; height: 150px;",:class => 'form-control' %>
    </div>
    <%= error_span(@appointment[:physician_note]) %>
  </div>
  <div class="control-group">
    <%= f.label :status_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :status_id, Status.all, :id, :stat_name, :class => 'form-control' %>
    </div>
    <%= error_span(@appointment[:status_id]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            appointments_path, :class => 'btn btn-default' %>

<% end %>
