<%- model_class = Appointment -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>

      <th><%= model_class.human_attribute_name(:customer_id) %></th>
      <th><%= model_class.human_attribute_name(:physician_id) %></th>
      <th><%= model_class.human_attribute_name(:Date) %></th>
      <th><%= model_class.human_attribute_name(:Time_slot) %></th>
      <th><%= model_class.human_attribute_name(:diagnostic_id) %></th>
      <th><%= model_class.human_attribute_name(:Note) %></th>

      <th><%= model_class.human_attribute_name(:appointment_status) %></th>

      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @appointments.where("status_id =?", "1").each do |appointment| %>
      <tr>

        <td><%= appointment.customer.c_name %></td>
        <td><%= appointment.physician.p_name %></td>
        <td><%= appointment.app_date %></td>
        <td><%= appointment.slot.s_name %></td>
        <td><%= appointment.diagnostic.d_name %></td>
        <td><%= appointment.app_note %></td>

        <td><%= appointment.status.stat_name %></td>

        <td>

          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_appointment_path(appointment), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      appointment_path(appointment),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_appointment_path,
            :class => 'btn btn-primary' %>
