<%- model_class = Appointment -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>
<h3>Customer Invoice</h3>
<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:customer_id) %>:</strong></dt>
  <dd><%= @appointment.customer.c_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:physician_id) %>:</strong></dt>
  <dd><%= @appointment.physician.p_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Date) %>:</strong></dt>
  <dd><%= @appointment.app_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:slot_id) %>:</strong></dt>
  <dd><%= @appointment.slot.s_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:diagnostic_id) %>:</strong></dt>
  <dd><%= @appointment.diagnostic.d_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Note) %>:</strong></dt>
  <dd><%= @appointment.app_note %></dd>
  <dt><strong><%= model_class.human_attribute_name(:physician_note) %>:</strong></dt>
  <dd><%= @appointment.physician_note %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Appointment_status) %>:</strong></dt>
  <dd><%= @appointment.status.stat_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Subtotal) %>:</strong></dt>
  <dd><%= number_to_currency(@appointment.diagnostic.d_price) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Total) %>:</strong></dt>
  <dd><%= number_to_currency(@appointment.diagnostic.d_price + (@appointment.diagnostic.d_price*0.0750)) %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              appointments_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_appointment_path(@appointment), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              appointment_path(@appointment),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
