<!DOCTYPE html>
<html>
<head>
  <title>VProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar">
  <div class="navbar-inner">

    <ul class="nav pull-left navbar-nav">
      <li class="active"><%= link_to "Home", dashboard_Welcome_path %></li>
      <li><%= link_to "Patient", customers_path %></li>
      <li><%= link_to "Appointment", appointments_path %></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin</a>
        <ul class="dropdown-menu">
          <li><%= link_to "Physician", physicians_path%></li>
          <li><%= link_to "Diagnostic", diagnostics_path%></li>
          <li><%= link_to "Time slot", slots_path%></li>
          <li><%= link_to "Employment status", employments_path%></li>
          <li><%= link_to "Appointment status", statuses_path %></li>
        </ul>

      </li>
    </ul>

  </div>
</div>
<div class="container">
  <div class="row">
    <div class="span2"></div>
    <div class="span9"><%= yield %></div>
    <div class="span1"></div>
  </div>

</div>


</body>
</html>
